%svg-common {
	background: url("https://mat1.gtimg.com/bbs/lite/svg/sprite.css-b9495c41.svg") no-repeat;
}

.svg-add {
	@extend %svg-common;
	background-position: 96.46017699115045% 24%;
}

.svg-add-dims {
	width: 34Px;
	height: 34Px;
}

.svg-add-red {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-add-red-dims {
	width: 42Px;
	height: 42Px;
}

.svg-add-write {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-add-write-dims {
	width: 56Px;
	height: 56Px;
}

.svg-circle-checked {
	@extend %svg-common;
	background-position: 95.6140350877193% 61.016949152542374%;
}

.svg-circle-checked-dims {
	width: 32Px;
	height: 32Px;
}

.svg-circle-unchecked {
	@extend %svg-common;
	background-position: 95.6140350877193% 42.93785310734463%;
}

.svg-circle-unchecked-dims {
	width: 32Px;
	height: 32Px;
}

.svg-close {
	@extend %svg-common;
	background-position: 26.923076923076923% 97.45222929936305%;
}

.svg-close-dims {
	width: 52Px;
	height: 52Px;
}

.svg-delete {
	@extend %svg-common;
	background-position: 99.58677685950413% 91.62303664921465%;
}

.svg-delete-dims {
	width: 18Px;
	height: 18Px;
}

.svg-dotdotdot {
	@extend %svg-common;
	background-position: 92.37288135593221% 82.82828282828282%;
}

.svg-dotdotdot-dims {
	width: 24Px;
	height: 11Px;
}

.svg-grey-deleted {
	@extend %svg-common;
	background-position: 82.00836820083683% 93.08510638297872%;
}

.svg-grey-deleted-dims {
	width: 21Px;
	height: 21Px;
}

.svg-history {
	@extend %svg-common;
	background-position: 70.37037037037037% 92.72727272727273%;
}

.svg-history-dims {
	width: 44Px;
	height: 44Px;
}

.svg-movie-big {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-movie-big-dims {
	width: 80Px;
	height: 75Px;
}

.svg-movie-icon-grey {
	@extend %svg-common;
	background-position: 78.125% 0;
}

.svg-movie-icon-grey-dims {
	width: 68Px;
	height: 65Px;
}

.svg-movie-small {
	@extend %svg-common;
	background-position: 50% 92.72727272727273%;
}

.svg-movie-small-dims {
	width: 44Px;
	height: 44Px;
}

.svg-pic-history {
	@extend %svg-common;
	background-position: 42.10526315789474% 50.35971223021583%;
}

.svg-pic-history-dims {
	width: 70Px;
	height: 70Px;
}

.svg-pic-local {
	@extend %svg-common;
	background-position: 42.10526315789474% 0;
}

.svg-pic-local-dims {
	width: 70Px;
	height: 70Px;
}

.svg-pic-video {
	@extend %svg-common;
	background-position: 93.96551724137932% 75.67567567567568%;
}

.svg-pic-video-dims {
	width: 28Px;
	height: 24Px;
}

.svg-play-big {
	@extend %svg-common;
	background-position: 0 57.25190839694657%;
}

.svg-play-big-dims {
	width: 78Px;
	height: 78Px;
}

.svg-play-small {
	@extend %svg-common;
	background-position: 74.25742574257426% 43.04635761589404%;
}

.svg-play-small-dims {
	width: 58Px;
	height: 58Px;
}

.svg-refresh {
	@extend %svg-common;
	background-position: 72.08333333333333% 65.07936507936508%;
}

.svg-refresh-dims {
	width: 20Px;
	height: 20Px;
}

.svg-right {
	@extend %svg-common;
	background-position: 91.9831223628692% 92.5925925925926%;
}

.svg-right-dims {
	width: 23Px;
	height: 20Px;
}

.svg-right-white {
	@extend %svg-common;
	background-position: 63.29113924050633% 65.07936507936508%;
}

.svg-right-white-dims {
	width: 23Px;
	height: 20Px;
}

.svg-triangle-right {
	@extend %svg-common;
	background-position: 82.00836820083683% 81.81818181818181%;
}

.svg-triangle-right-dims {
	width: 21Px;
	height: 22Px;
}

